/* Relógio */
.clock-card {
    background: var(--card);
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 16px;
    box-shadow: var(--shadow);
    text-align: center;
}

.clock {
    font-size: 48px;
    font-weight: bold;
    margin: 10px 0 20px;
    color: var(--accent);
}

.alarm-area {
    margin-top: 15px;
    font-size: 18px;
}

.alarm-area select {
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid var(--accent);
    background: var(--card);
    color: var(--text);
}

.small {
    padding: 6px 10px;
    font-size: 14px !important;
    margin-left: 10px;
}
